{% extends "admin.html.twig" %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container mt-4">
        <h2 class="mb-4">Ajouter une catégorie supplémentaire :</h2>
        <div class="mb-4">
        {% include 'admin/_categorie/form.categorie.html.twig' with {'form': form} %}
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Catégories 
                </th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
            <tr class="align-middle d-flex d-column">
                <td class="text-left">
                    <option {% if valeur|default and valeur == categorie.id %} selected {% endif %} value="{{ categorie.id }}">
                    {{ categorie.name }}
                    </option>
                </td>
                <td class="text-left">
                    <a href="{{ path('admin_categories_delete', {id: categorie.id}) }}" class="btn btn-danger btn-sm" 
                    onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}