{% extends "admin.html.twig" %}
{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    Playlist<br />
                    <button onclick="location.href='{{ path('admin_playlists.sort', {champ:'name', ordre:'ASC'}) }}'" class="btn btn-info btn-sm">▲</button>
                    <button onclick="location.href='{{ path('admin_playlists.sort', {champ:'name', ordre:'DESC'}) }}'" class="btn btn-info btn-sm">▼</button>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin_playlists.findallcontain', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" value="{% if valeur is defined and table is not defined %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">Filtrer</button>
                        </div>
                    </form>                    
                </th>
                <th class="text-left align-top" scope="col">
                    Catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin_playlists.findallcontain', {champ:'id', table:'categories'}) }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit()">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option {% if valeur|default and valeur == categorie.id %} selected {% endif %} value="{{ categorie.id }}">
                                    {{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>
                <th scope="col">
                    <a href="{{ path('admin_playlists.sort', {champ: 'nbFormations', ordre: 'ASC'}) }}">▲</a>
                    Nombre de formations
                    <a href="{{ path('admin_playlists.sort', {champ: 'nbFormations', ordre: 'DESC'}) }}">▼</a>
                </th>				
                <th class="text-center align-top" scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% if playlists is not empty %}
                {% for playlist in playlists %}
                    <tr class="align-middle">
                        <td>
                            <h5 class="text-info">{{ playlist.name }}</h5>
                        </td>
                        <td class="text-left">
                        {% if playlist.formations is defined and playlist.formations is not empty %}
                                {% set categories = [] %}
                                {% for formation in playlist.formations %}
                                    {% for categorie in formation.categories %}
                                        {% if categorie.name not in categories %}
                                            {% set categories = categories|merge([categorie.name]) %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {{ categories|join(', ')|default('Aucune catégorie') }}
                            {% else %}
                                Aucune catégorie
                            {% endif %}
                        </td>
                        <td>{{ playlist.nbFormations|default(0) }}</td>  
                        <td class="text-center">
                            <a href="{{ path('playlists.showone', {id: playlist.id}) }}" class="btn btn-secondary">Voir détail</a>
                        </td>
                        <td class="text-center align-middle col-3">
                        <a href="{{ path('admin_playlists_edit', {id: playlist.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        <a href="{{ path('admin_playlists_delete', {id: playlist.id}) }}" class="btn btn-danger btn-sm" 
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette formation ?');">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}    
            {% else %}
                <tr>
                    <td colspan="4">Aucune playlist trouvée</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
