{% extends "base.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-left">
            <img src="{{ app.request.getBasePath()~'/banniere.jpg' }}" alt="bannière du site" >
        </div>
       <!-- Menu de navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- Bouton de menu pour mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Menu principal à gauche -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('formations') }}">Formations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('playlists') }}">Playlists</a>
                        </li>
                    </ul>

                    <!-- Section utilisateur alignée à droite -->
                    <ul class="navbar-nav">
                        {% if app.user %}
                            <li class="nav-item">
                                <span class="nav-link">Connecté en tant que <strong>{{ app.user.email }}</strong></span>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_logout') }}" class="btn btn-danger btn-sm mx-2">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm mx-2">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_signin') }}" class="btn btn-primary btn-sm">Inscription</a>
                            </li>
                        {% endif %}

                        {% if app.user is not null and "ROLE_ADMIN" in app.user.roles %}
                            <li class="nav-item">
                                <a href="{{ path('accueil') }}" class="btn btn-primary btn-sm">Espace Utilisateur</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>        
    </div>
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <div class="container text-center">
        <footer>
            <hr>
            <p><small><i>
                Consultez nos <a class="link-secondary" href="{{ path('cgu') }}">Conditions Générales d'Utilisation</a>
            </i></small></p>
            
        </footer>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}